<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mvc.mapper.BoardMapper">	

	<select id="selectAll" resultType="Board">
		select * from board order by num desc
	</select>
	<select id = "search" resultType = "Board" parameterType="map">
		select * from board where
		<if test = "condition != null and condition == 'title'">
			title
		</if>
		<if test = "condition != null and condition == 'name'">
			name
		</if>
		like concat('%',#{keyword},'%')
	</select>
	
	<insert id = "txtest">
		insert into board values('99','123','kim', sysdate(), 'title','content',0)
	
	</insert>
	

</mapper>